n8n-update-contact-v1.json
{
  "name": "Galaxy IT - Contact Form > GHL + Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "galaxy-contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-contact",
      "name": "Webhook Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "galaxy-contact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "firstName", "value": "={{ $json.body.firstName }}", "type": "string" },
            { "id": "2", "name": "lastName", "value": "={{ $json.body.lastName }}", "type": "string" },
            { "id": "3", "name": "email", "value": "={{ $json.body.email }}", "type": "string" },
            { "id": "4", "name": "phone", "value": "={{ $json.body.phone }}", "type": "string" },
            { "id": "5", "name": "service", "value": "={{ $json.body.service }}", "type": "string" },
            { "id": "6", "name": "message", "value": "={{ $json.body.message }}", "type": "string" },
            { "id": "7", "name": "source", "value": "Website - Contact Form", "type": "string" },
            { "id": "8", "name": "fullName", "value": "={{ $json.body.firstName }} {{ $json.body.lastName }}", "type": "string" },
            { "id": "9", "name": "date", "value": "={{ new Date().toLocaleDateString('en-US', {year:'numeric',month:'long',day:'numeric',hour:'2-digit',minute:'2-digit'}) }}", "type": "string" }
          ]
        }
      },
      "id": "set-contact",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.gohighlevel.com/v1/contacts/",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6IlpwbEh0N0pzQjdlMUEyRzhScm03IiwidmVyc2lvbiI6MSwiaWF0IjoxNzczNDQwMDY0OTgzLCJzdWIiOiI0eW9wSmw1ODVCRk1acG50eXg4RiJ9.SGPfA8zzIe5GMxx4aeHSFqj92u7HTGJ-qzceuWb8hbw" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"firstName\":\"{{ $json.firstName }}\",\"lastName\":\"{{ $json.lastName }}\",\"email\":\"{{ $json.email }}\",\"phone\":\"{{ $json.phone }}\",\"source\":\"Website - Contact Form\",\"tags\":[\"website-lead\",\"contact-form\"]}",
        "options": {}
      },
      "id": "ghl-create-contact",
      "name": "GHL - Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rest.gohighlevel.com/v1/contacts/{{ $json.contact.id }}/notes/",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6IlpwbEh0N0pzQjdlMUEyRzhScm03IiwidmVyc2lvbiI6MSwiaWF0IjoxNzczNDQwMDY0OTgzLCJzdWIiOiI0eW9wSmw1ODVCRk1acG50eXg4RiJ9.SGPfA8zzIe5GMxx4aeHSFqj92u7HTGJ-qzceuWb8hbw" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"body\":\"New Contact Form Submission\\n\\nService: {{ $('Format Data').item.json.service }}\\nMessage: {{ $('Format Data').item.json.message }}\"}",
        "options": {}
      },
      "id": "ghl-add-note",
      "name": "GHL - Add Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "fromEmail": "galaxyinfomkt@gmail.com",
        "toEmail": "info@galaxyinfo.us, galaxyinfomkt@gmail.com",
        "subject": "=New Lead - Contact Form: {{ $('Format Data').item.json.fullName }}",
        "emailFormat": "html",
        "html": "=<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:600px;margin:0 auto;background:#f5f5f5;\">\n  <div style=\"background:linear-gradient(135deg,#0d1b2a 0%,#1a237e 100%);padding:32px 40px;text-align:center;border-radius:8px 8px 0 0;\">\n    <img src=\"https://galaxyinfo.us/images/og-image.jpg\" alt=\"Galaxy IT\" style=\"max-width:180px;margin-bottom:12px;\" />\n    <h1 style=\"color:#ffd700;font-size:22px;margin:0;font-weight:700;\">New Contact Form Lead</h1>\n    <p style=\"color:rgba(255,255,255,0.7);font-size:13px;margin:8px 0 0;\">{{ $('Format Data').item.json.date }}</p>\n  </div>\n  <div style=\"background:#ffffff;padding:32px 40px;\">\n    <h2 style=\"color:#1a237e;font-size:18px;margin:0 0 20px;border-bottom:2px solid #ffd700;padding-bottom:12px;\">Lead Information</h2>\n    <table style=\"width:100%;border-collapse:collapse;\">\n      <tr style=\"border-bottom:1px solid #eee;\"><td style=\"padding:12px 0;color:#6b7280;font-size:13px;width:130px;\">Full Name</td><td style=\"padding:12px 0;color:#333;font-size:14px;font-weight:600;\">{{ $('Format Data').item.json.fullName }}</td></tr>\n      <tr style=\"border-bottom:1px solid #eee;\"><td style=\"padding:12px 0;color:#6b7280;font-size:13px;\">Email</td><td style=\"padding:12px 0;\"><a href=\"mailto:{{ $('Format Data').item.json.email }}\" style=\"color:#1a237e;text-decoration:none;font-size:14px;\">{{ $('Format Data').item.json.email }}</a></td></tr>\n      <tr style=\"border-bottom:1px solid #eee;\"><td style=\"padding:12px 0;color:#6b7280;font-size:13px;\">Phone</td><td style=\"padding:12px 0;\"><a href=\"tel:{{ $('Format Data').item.json.phone }}\" style=\"color:#1a237e;text-decoration:none;font-size:14px;\">{{ $('Format Data').item.json.phone }}</a></td></tr>\n      <tr style=\"border-bottom:1px solid #eee;\"><td style=\"padding:12px 0;color:#6b7280;font-size:13px;\">Service</td><td style=\"padding:12px 0;\"><span style=\"background:#e8eaf6;color:#1a237e;padding:4px 12px;border-radius:20px;font-size:12px;font-weight:600;\">{{ $('Format Data').item.json.service }}</span></td></tr>\n      <tr><td style=\"padding:12px 0;color:#6b7280;font-size:13px;vertical-align:top;\">Message</td><td style=\"padding:12px 0;color:#333;font-size:14px;line-height:1.6;\">{{ $('Format Data').item.json.message }}</td></tr>\n    </table>\n    <div style=\"margin-top:24px;text-align:center;\">\n      <a href=\"https://app.gohighlevel.com/v2/location/ZplHt7JsB7e1A2G8Rrm7/contacts/\" style=\"display:inline-block;background:linear-gradient(135deg,#2e7d32,#1b5e20);color:#fff;padding:12px 32px;border-radius:6px;text-decoration:none;font-weight:600;font-size:14px;\">View in GoHighLevel</a>\n    </div>\n  </div>\n  <div style=\"background:#0d1b2a;padding:20px 40px;text-align:center;border-radius:0 0 8px 8px;\">\n    <p style=\"color:rgba(255,255,255,0.5);font-size:11px;margin:0;\">Galaxy IT & Marketing | Worcester, MA | (508) 499-9279</p>\n    <p style=\"color:rgba(255,255,255,0.3);font-size:10px;margin:6px 0 0;\">Automated notification from website contact form</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "email-notify",
      "name": "Email - Notify Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [960, 400],
      "credentials": {
        "smtp": {
          "id": "2ei5OJfzS1oCZZ8e",
          "name": "Gmail SMTP - Galaxy"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "url", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Contact Leads" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Format Data').item.json.date }}",
            "First Name": "={{ $('Format Data').item.json.firstName }}",
            "Last Name": "={{ $('Format Data').item.json.lastName }}",
            "Email": "={{ $('Format Data').item.json.email }}",
            "Phone": "={{ $('Format Data').item.json.phone }}",
            "Service": "={{ $('Format Data').item.json.service }}",
            "Message": "={{ $('Format Data').item.json.message }}",
            "Source": "={{ $('Format Data').item.json.source }}",
            "Status": "New Lead"
          }
        },
        "options": {}
      },
      "id": "sheets-contact",
      "name": "Google Sheets - Log Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [720, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}"
      },
      "id": "respond-ok",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook Contact Form": {
      "main": [[{ "node": "Format Data", "type": "main", "index": 0 }]]
    },
    "Format Data": {
      "main": [[
        { "node": "GHL - Create Contact", "type": "main", "index": 0 },
        { "node": "Google Sheets - Log Lead", "type": "main", "index": 0 }
      ]]
    },
    "GHL - Create Contact": {
      "main": [[
        { "node": "GHL - Add Note", "type": "main", "index": 0 },
        { "node": "Email - Notify Team", "type": "main", "index": 0 }
      ]]
    },
    "GHL - Add Note": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
