n8n-create-contact-wf.json
{
  "name": "Galaxy IT - Contact Form > GHL + Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "galaxy-contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-contact",
      "name": "Webhook Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "galaxy-contact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "firstName", "value": "={{ $json.body.firstName }}", "type": "string" },
            { "id": "2", "name": "lastName", "value": "={{ $json.body.lastName }}", "type": "string" },
            { "id": "3", "name": "email", "value": "={{ $json.body.email }}", "type": "string" },
            { "id": "4", "name": "phone", "value": "={{ $json.body.phone }}", "type": "string" },
            { "id": "5", "name": "service", "value": "={{ $json.body.service }}", "type": "string" },
            { "id": "6", "name": "message", "value": "={{ $json.body.message }}", "type": "string" },
            { "id": "7", "name": "source", "value": "Website - Contact Form", "type": "string" },
            { "id": "8", "name": "fullName", "value": "={{ $json.body.firstName }} {{ $json.body.lastName }}", "type": "string" },
            { "id": "9", "name": "date", "value": "={{ new Date().toLocaleDateString('en-US') + ' ' + new Date().toLocaleTimeString('en-US') }}", "type": "string" }
          ]
        }
      },
      "id": "set-contact",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"firstName\":\"{{ $json.firstName }}\",\"lastName\":\"{{ $json.lastName }}\",\"email\":\"{{ $json.email }}\",\"phone\":\"{{ $json.phone }}\",\"source\":\"Website - Contact Form\",\"tags\":[\"website-lead\",\"contact-form\"],\"locationId\":\"BCczy6muFwhd63dPhKCC\"}",
        "options": {}
      },
      "id": "ghl-create-contact",
      "name": "GHL - Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/opportunities/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"pipelineId\":\"SEU_PIPELINE_ID\",\"pipelineStageId\":\"SEU_STAGE_ID\",\"locationId\":\"BCczy6muFwhd63dPhKCC\",\"contactId\":\"{{ $json.contact.id }}\",\"name\":\"{{ $('Format Data').item.json.fullName }} - Contact\",\"status\":\"open\",\"source\":\"Website Contact Form\"}",
        "options": {}
      },
      "id": "ghl-create-opp",
      "name": "GHL - Create Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact.id }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"body\":\"New Contact Form\\nService: {{ $('Format Data').item.json.service }}\\nMessage: {{ $('Format Data').item.json.message }}\",\"locationId\":\"BCczy6muFwhd63dPhKCC\"}",
        "options": {}
      },
      "id": "ghl-add-note",
      "name": "GHL - Add Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"type\":\"Email\",\"contactId\":\"{{ $('GHL - Create Contact').item.json.contact.id }}\",\"subject\":\"Thank you for contacting Galaxy IT!\",\"message\":\"Hi {{ $('Format Data').item.json.firstName }},\\n\\nThank you for reaching out to Galaxy IT & Marketing! We received your message and will get back to you within 24 hours.\\n\\nFeel free to WhatsApp us at (774) 285-2299 for a faster response.\\n\\nBest regards,\\nGalaxy IT & Marketing Team\",\"locationId\":\"BCczy6muFwhd63dPhKCC\"}",
        "options": {}
      },
      "id": "ghl-auto-reply",
      "name": "GHL - Auto Reply Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "url", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Contact Leads" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Format Data').item.json.date }}",
            "First Name": "={{ $('Format Data').item.json.firstName }}",
            "Last Name": "={{ $('Format Data').item.json.lastName }}",
            "Email": "={{ $('Format Data').item.json.email }}",
            "Phone": "={{ $('Format Data').item.json.phone }}",
            "Service": "={{ $('Format Data').item.json.service }}",
            "Message": "={{ $('Format Data').item.json.message }}",
            "Source": "={{ $('Format Data').item.json.source }}",
            "Status": "New Lead"
          }
        },
        "options": {}
      },
      "id": "sheets-contact",
      "name": "Google Sheets - Log Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [720, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}"
      },
      "id": "respond-ok",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Webhook Contact Form": {
      "main": [[{ "node": "Format Data", "type": "main", "index": 0 }]]
    },
    "Format Data": {
      "main": [[
        { "node": "GHL - Create Contact", "type": "main", "index": 0 },
        { "node": "Google Sheets - Log Lead", "type": "main", "index": 0 }
      ]]
    },
    "GHL - Create Contact": {
      "main": [[
        { "node": "GHL - Create Opportunity", "type": "main", "index": 0 },
        { "node": "GHL - Add Note", "type": "main", "index": 0 }
      ]]
    },
    "GHL - Create Opportunity": {
      "main": [[{ "node": "GHL - Auto Reply Email", "type": "main", "index": 0 }]]
    },
    "GHL - Auto Reply Email": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
