n8n/13-reports-with-gsc.json
{
  "name": "Galaxy IT — Relatorios Mensais (com GSC)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Execute Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": { "rule": { "interval": [{ "triggerAtDay": 1, "triggerAtHour": 9 }] } },
      "id": "schedule",
      "name": "Dia 1 as 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 500]
    },
    {
      "parameters": {
        "jsCode": "const clients = [\n  { name: 'Alfa Construction Inc.', ghlKey: 'YOUR_GHL_KEY', email: 'info@alfapaintingcarpentry.com', site: 'https://www.alfapaintingcarpentry.com/' },\n  { name: 'Wolfs Siding Inc', ghlKey: 'YOUR_GHL_KEY', email: 'info@wolfs-siding.com', site: 'https://wolfs-siding.com/' },\n  { name: 'RS Development Group', ghlKey: 'YOUR_GHL_KEY', email: 'info@rs-developmentgroup.com', site: 'https://rs-developmentgroup.com/' },\n  { name: 'Mass HVAC', ghlKey: 'YOUR_GHL_KEY', email: 'info@masshvac.net', site: 'https://masshvac.net/' },\n  { name: 'Maia Construction Inc', ghlKey: 'YOUR_GHL_KEY', email: 'contact@maiaconstruction.com', site: 'https://maiaconstruction.com/' },\n  { name: 'JH Painting Services', ghlKey: 'YOUR_GHL_KEY', email: 'contact@jhpaintingservices.com', site: 'https://jhpaintingservices.com/' },\n  { name: 'Dorys Cleaning Services', ghlKey: 'YOUR_GHL_KEY', email: 'contact@doryscleaningservices.com', site: 'https://doryscleaningservices.com/' }\n];\nconst TEST_EMAIL = 'galaxyinfomkt@gmail.com';\nclients.forEach(c => { c.originalEmail = c.email; c.email = TEST_EMAIL; });\nreturn clients.map(c => ({ json: c }));"
      },
      "id": "clients",
      "name": "Lista de Clientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "jsCode": "// Set date range for GSC queries\nconst now = new Date();\nconst thirtyAgo = new Date(now.getTime() - 30*24*60*60*1000);\nreturn [{ json: {\n  ...$json,\n  startDate: thirtyAgo.toISOString().split('T')[0],\n  endDate: now.toISOString().split('T')[0]\n}}];"
      },
      "id": "dates",
      "name": "Datas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "url": "=https://rest.gohighlevel.com/v1/contacts/?limit=100&orderByField=dateAdded&orderByDirection=desc",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $json.ghlKey }}" }] },
        "options": { "timeout": 15000 }
      },
      "id": "ghl-contacts",
      "name": "GHL - Contatos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/webmasters/v3/sites/{{ encodeURIComponent($json.site) }}/searchAnalytics/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"startDate\":\"{{ $json.startDate }}\",\"endDate\":\"{{ $json.endDate }}\",\"dimensions\":[\"query\"],\"rowLimit\":10}",
        "options": { "timeout": 15000, "response": { "response": { "neverError": true } } }
      },
      "id": "gsc-queries",
      "name": "GSC - Top Queries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 450],
      "credentials": {
        "oAuth2Api": { "id": "2QJpqdy7mQVJSshh", "name": "Google OAuth" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/webmasters/v3/sites/{{ encodeURIComponent($json.site) }}/searchAnalytics/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"startDate\":\"{{ $json.startDate }}\",\"endDate\":\"{{ $json.endDate }}\"}",
        "options": { "timeout": 15000, "response": { "response": { "neverError": true } } }
      },
      "id": "gsc-totals",
      "name": "GSC - Totais",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 600],
      "credentials": {
        "oAuth2Api": { "id": "2QJpqdy7mQVJSshh", "name": "Google OAuth" }
      }
    },
    {
      "parameters": {
        "jsCode": "const client = $('Datas').item.json;\nconst allContacts = $('GHL - Contatos').item.json.contacts || [];\nconst gscQueries = $('GSC - Top Queries').item.json || {};\nconst gscTotals = $('GSC - Totais').item.json || {};\n\n// 30 day filter\nconst now = new Date();\nconst thirtyAgoMs = now.getTime() - 30*24*60*60*1000;\nconst last30 = allContacts.filter(c => c.dateAdded && new Date(c.dateAdded).getTime() >= thirtyAgoMs);\n\n// Sources\nconst sources30d = {};\nlast30.forEach(c => { const s = c.source || c.tags?.[0] || 'Direto'; sources30d[s] = (sources30d[s]||0)+1; });\nconst topSources = Object.entries(sources30d).sort((a,b)=>b[1]-a[1]).slice(0,5).map(([k,v])=>k+' ('+v+')').join(', ') || 'Nenhum';\n\n// GSC data\nlet impressions = 0, clicks = 0, avgCtr = 0, avgPos = 0;\nconst totalsRows = gscTotals.rows || [];\nif (totalsRows.length > 0) {\n  totalsRows.forEach(r => { impressions += r.impressions; clicks += r.clicks; });\n  avgCtr = impressions > 0 ? ((clicks/impressions)*100).toFixed(2) : 0;\n  avgPos = (totalsRows.reduce((s,r)=>s+r.position,0) / totalsRows.length).toFixed(1);\n}\nconst queriesRows = gscQueries.rows || [];\nconst topQueries = queriesRows.slice(0,5).map(r => r.keys[0] + ' (' + r.clicks + ' cliques, ' + r.impressions + ' impressoes)').join('; ') || 'Dados indisponiveis';\n\nconst hasGscData = impressions > 0 || clicks > 0;\nconst gscStatus = hasGscData ? '' : ' (site nao cadastrado no Search Console ou sem dados)';\n\n// Dates in PT\nconst mesesPT = ['janeiro','fevereiro','marco','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro'];\nconst monthName = mesesPT[now.getMonth()] + ' de ' + now.getFullYear();\nconst startDt = new Date(thirtyAgoMs);\nconst startFmt = startDt.getDate() + '/' + (startDt.getMonth()+1) + '/' + startDt.getFullYear();\nconst endFmt = now.getDate() + '/' + (now.getMonth()+1) + '/' + now.getFullYear();\nconst period = startFmt + ' a ' + endFmt;\n\n// AI prompt\nconst prompt = 'IMPORTANTE: Escreva APENAS em portugues brasileiro. NADA em ingles.\\n\\nVoce e redator da Galaxy IT & Marketing escrevendo relatorio mensal para o cliente.\\n\\n=== DADOS DO CLIENTE ===\\nCliente: ' + client.name + '\\nSite: ' + client.site + '\\nPeriodo: ' + period + '\\n\\n=== LEADS (GoHighLevel) ===\\n- Novos leads nos ultimos 30 dias: ' + last30.length + '\\n- Fontes dos leads: ' + topSources + '\\n- Base historica: ' + allContacts.length + '\\n\\n=== SITE (Google Search Console) ===' + gscStatus + '\\n- Impressoes no Google: ' + impressions + '\\n- Cliques: ' + clicks + '\\n- CTR medio: ' + avgCtr + '%\\n- Posicao media: ' + avgPos + '\\n- Top palavras-chave: ' + topQueries + '\\n\\n=== ESTRUTURA DO RELATORIO (em portugues) ===\\n1. \"Ola, equipe da ' + client.name + '!\"\\n2. Destaques do mes com os numeros reais (leads novos, impressoes, cliques)\\n3. Analise do site no Google (se tiver dados reais)\\n4. Analise das fontes de leads\\n5. Uma recomendacao acionavel baseada nos dados\\n6. Encerre: \"Abracos, Equipe Galaxy IT & Marketing\"\\n\\nREGRAS:\\n- TUDO em portugues brasileiro\\n- Use os numeros REAIS acima, nao invente\\n- Se GSC estiver indisponivel, mencione que esta aguardando configuracao\\n- Maximo 250 palavras\\n- Tom profissional e amigavel';\n\nconst body = {\n  model: 'llama-3.3-70b-versatile',\n  messages: [\n    { role: 'system', content: 'Voce escreve APENAS em portugues brasileiro. Nunca use ingles.' },\n    { role: 'user', content: prompt }\n  ],\n  max_tokens: 800,\n  temperature: 0.5\n};\n\nreturn [{ json: {\n  ...client,\n  newContacts: last30.length,\n  totalHistorical: allContacts.length,\n  topSources,\n  impressions, clicks, avgCtr, avgPos, topQueries, hasGscData,\n  monthName, period,\n  aiBody: JSON.stringify(body)\n}}];"
      },
      "id": "process",
      "name": "Processar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.aiBody }}",
        "options": { "timeout": 25000 }
      },
      "id": "ai",
      "name": "IA - Gerar Relatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 400]
    },
    {
      "parameters": {
        "jsCode": "const client = $('Processar Dados').item.json;\nconst report = $json.choices?.[0]?.message?.content || 'Erro ao gerar relatorio';\nconst monthName = client.monthName;\nconst rHtml = report.replace(/\\n/g, '<br>').replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>');\nconst subject = '[TESTE - ' + client.name + '] Relatorio Mensal - ' + monthName;\n\nconst html = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head><body style=\"font-family:Arial,sans-serif;max-width:640px;margin:0 auto;padding:20px;color:#333;background:#f5f5f5;\">' +\n'<div style=\"background:linear-gradient(135deg,#0d1b2a,#1a237e);padding:30px;border-radius:12px 12px 0 0;text-align:center;\">' +\n'<h1 style=\"color:#ffd700;margin:0;font-size:22px;\">Galaxy IT &amp; Marketing</h1>' +\n'<p style=\"color:rgba(255,255,255,0.7);margin:8px 0 0;font-size:14px;\">Relatorio Mensal de Desempenho &mdash; ' + monthName + '</p>' +\n'<p style=\"color:rgba(255,255,255,0.5);margin:4px 0 0;font-size:12px;\">Cliente: ' + client.name + '</p>' +\n'</div>' +\n'<div style=\"background:#fff;padding:30px;border:1px solid #e5e5e5;border-top:none;\">' +\n'<div style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;margin-bottom:20px;text-align:center;\">' +\n'<div style=\"background:#f8f9fa;padding:16px 8px;border-radius:8px;border-top:3px solid #ffd700;\">' +\n'<div style=\"font-size:26px;font-weight:800;color:#1a237e;\">' + client.newContacts + '</div>' +\n'<div style=\"font-size:9px;color:#888;margin-top:4px;text-transform:uppercase;letter-spacing:1px;\">Novos Leads</div>' +\n'</div>' +\n'<div style=\"background:#f8f9fa;padding:16px 8px;border-radius:8px;border-top:3px solid #2e7d32;\">' +\n'<div style=\"font-size:26px;font-weight:800;color:#1a237e;\">' + client.impressions.toLocaleString('pt-BR') + '</div>' +\n'<div style=\"font-size:9px;color:#888;margin-top:4px;text-transform:uppercase;letter-spacing:1px;\">Impressoes</div>' +\n'</div>' +\n'<div style=\"background:#f8f9fa;padding:16px 8px;border-radius:8px;border-top:3px solid #1a237e;\">' +\n'<div style=\"font-size:26px;font-weight:800;color:#1a237e;\">' + client.clicks + '</div>' +\n'<div style=\"font-size:9px;color:#888;margin-top:4px;text-transform:uppercase;letter-spacing:1px;\">Cliques</div>' +\n'</div>' +\n'<div style=\"background:#f8f9fa;padding:16px 8px;border-radius:8px;border-top:3px solid #ffd700;\">' +\n'<div style=\"font-size:26px;font-weight:800;color:#1a237e;\">' + client.avgCtr + '%</div>' +\n'<div style=\"font-size:9px;color:#888;margin-top:4px;text-transform:uppercase;letter-spacing:1px;\">CTR Medio</div>' +\n'</div>' +\n'</div>' +\n'<p style=\"font-size:14px;line-height:1.8;\">' + rHtml + '</p>' +\n'</div>' +\n'<div style=\"background:#f8f9fa;padding:20px;border-radius:0 0 12px 12px;text-align:center;border:1px solid #e5e5e5;border-top:none;\">' +\n'<p style=\"margin:0;font-size:12px;color:#888;\">Duvidas? <a href=\"https://galaxyinfo.us/support\" style=\"color:#1a237e;font-weight:600;\">Central de Ajuda</a></p>' +\n'<p style=\"margin:8px 0 0;font-size:11px;color:#aaa;\">&copy; 2026 Galaxy IT &amp; Marketing &middot; Worcester, MA</p>' +\n'</div></body></html>';\n\nreturn [{ json: { ...client, report, html, subject } }];"
      },
      "id": "format",
      "name": "Formatar Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 400]
    },
    {
      "parameters": {
        "fromEmail": "galaxyinfomkt@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "send",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1800, 400],
      "credentials": {
        "smtp": { "id": "2ei5OJfzS1oCZZ8e", "name": "Gmail SMTP - Galaxy" }
      }
    }
  ],
  "connections": {
    "Execute Manually": { "main": [[{ "node": "Lista de Clientes", "type": "main", "index": 0 }]] },
    "Dia 1 as 9AM": { "main": [[{ "node": "Lista de Clientes", "type": "main", "index": 0 }]] },
    "Lista de Clientes": { "main": [[{ "node": "Datas", "type": "main", "index": 0 }]] },
    "Datas": { "main": [[
      { "node": "GHL - Contatos", "type": "main", "index": 0 },
      { "node": "GSC - Top Queries", "type": "main", "index": 0 },
      { "node": "GSC - Totais", "type": "main", "index": 0 }
    ]] },
    "GHL - Contatos": { "main": [[{ "node": "Processar Dados", "type": "main", "index": 0 }]] },
    "GSC - Top Queries": { "main": [[{ "node": "Processar Dados", "type": "main", "index": 0 }]] },
    "GSC - Totais": { "main": [[{ "node": "Processar Dados", "type": "main", "index": 0 }]] },
    "Processar Dados": { "main": [[{ "node": "IA - Gerar Relatorio", "type": "main", "index": 0 }]] },
    "IA - Gerar Relatorio": { "main": [[{ "node": "Formatar Email", "type": "main", "index": 0 }]] },
    "Formatar Email": { "main": [[{ "node": "Enviar Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
