n8n/17-internal-support-report.json
{
  "name": "Galaxy IT — Relatorio Interno do Help Center (mensal)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "triggerAtDay": 1, "triggerAtHour": 10 }] } },
      "id": "schedule",
      "name": "Dia 1 as 10AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal-support-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 600],
      "webhookId": "internal-support-report"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate data from last month\nconst now = new Date();\nconst mesesPT = ['janeiro','fevereiro','marco','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro'];\nconst lastMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nconst monthName = mesesPT[lastMonth.getMonth()] + ' de ' + lastMonth.getFullYear();\n\n// Clients list (same as other workflows) for aggregating GHL data\nconst clients = [\n  { name: 'Alfa Construction Inc.', ghlKey: 'YOUR_GHL_KEY' },\n  { name: 'Wolfs Siding Inc', ghlKey: 'YOUR_GHL_KEY' },\n  { name: 'RS Development Group', ghlKey: 'YOUR_GHL_KEY' },\n  { name: 'Mass HVAC', ghlKey: 'YOUR_GHL_KEY' },\n  { name: 'Maia Construction Inc', ghlKey: 'YOUR_GHL_KEY' },\n  { name: 'JH Painting Services', ghlKey: 'YOUR_GHL_KEY' },\n  { name: 'Dorys Cleaning Services', ghlKey: 'YOUR_GHL_KEY' }\n];\n\nreturn clients.map(c => ({ json: { ...c, monthName } }));"
      },
      "id": "clients",
      "name": "Lista de Clientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 500]
    },
    {
      "parameters": {
        "url": "=https://rest.gohighlevel.com/v1/contacts/?limit=100&orderByField=dateAdded&orderByDirection=desc",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $json.ghlKey }}" }] },
        "options": { "timeout": 15000 }
      },
      "id": "contacts",
      "name": "GHL - Contatos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 500]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate: for each client, count new leads in last 30 days\nreturn $input.all().map((item, idx) => {\n  const client = $('Lista de Clientes').all()[idx]?.json || {};\n  const contacts = item.json?.contacts || [];\n  const now = Date.now();\n  const thirtyAgo = now - 30*24*60*60*1000;\n  const yesterdayEnd = now - 1*24*60*60*1000;\n  const last30 = contacts.filter(c => {\n    const t = c.dateAdded ? new Date(c.dateAdded).getTime() : 0;\n    return t >= thirtyAgo && t <= yesterdayEnd;\n  });\n  const formLeads = last30.filter(c => {\n    const src = (c.source||'').toLowerCase();\n    return src.includes('form') || src.includes('site');\n  });\n  return { json: {\n    name: client.name,\n    totalContacts30d: last30.length,\n    formLeads30d: formLeads.length,\n    monthName: client.monthName\n  }};\n});"
      },
      "id": "process",
      "name": "Processar por Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "// Merge all clients into one summary\nconst items = $input.all().map(i => i.json);\nconst monthName = items[0]?.monthName || 'mes passado';\nconst totalClients = items.length;\nconst totalLeads = items.reduce((s, c) => s + (c.formLeads30d || 0), 0);\nconst totalContacts = items.reduce((s, c) => s + (c.totalContacts30d || 0), 0);\nconst avgPerClient = totalClients > 0 ? (totalLeads / totalClients).toFixed(1) : 0;\n\n// Top/bottom performers\nconst sorted = [...items].sort((a,b) => (b.formLeads30d||0) - (a.formLeads30d||0));\nconst topClient = sorted[0];\nconst bottomClient = sorted[sorted.length - 1];\n\n// Build summary rows\nconst clientRows = items.map(c => \n  '<tr><td style=\"padding:8px;border-bottom:1px solid #e5e5e5;\">' + c.name + '</td>' +\n  '<td style=\"padding:8px;border-bottom:1px solid #e5e5e5;text-align:center;font-weight:700;color:#1a237e;\">' + (c.formLeads30d||0) + '</td>' +\n  '<td style=\"padding:8px;border-bottom:1px solid #e5e5e5;text-align:center;color:#6b7280;\">' + (c.totalContacts30d||0) + '</td></tr>'\n).join('');\n\nconst html = '<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto;padding:20px;color:#333;background:#f5f5f5;\">' +\n'<div style=\"background:linear-gradient(135deg,#0d1b2a,#1a237e);padding:30px;border-radius:12px 12px 0 0;text-align:center;\">' +\n'<h1 style=\"color:#ffd700;margin:0;font-size:22px;\">Galaxy IT &amp; Marketing</h1>' +\n'<p style=\"color:rgba(255,255,255,0.7);margin:8px 0 0;font-size:14px;\">Relatorio Interno - Resumo de ' + monthName + '</p>' +\n'</div>' +\n'<div style=\"background:#fff;padding:30px;border:1px solid #e5e5e5;border-top:none;\">' +\n'<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-bottom:24px;\"><tr>' +\n'<td width=\"33%\" style=\"padding:0 4px;text-align:center;\"><div style=\"background:#f8f9fa;padding:18px 8px;border-radius:8px;border-top:3px solid #ffd700;\">' +\n'<div style=\"font-size:28px;font-weight:800;color:#1a237e;\">' + totalLeads + '</div>' +\n'<div style=\"font-size:9px;color:#888;margin-top:4px;text-transform:uppercase;\">Total Leads</div></div></td>' +\n'<td width=\"33%\" style=\"padding:0 4px;text-align:center;\"><div style=\"background:#f8f9fa;padding:18px 8px;border-radius:8px;border-top:3px solid #2e7d32;\">' +\n'<div style=\"font-size:28px;font-weight:800;color:#1a237e;\">' + totalClients + '</div>' +\n'<div style=\"font-size:9px;color:#888;margin-top:4px;text-transform:uppercase;\">Clientes Ativos</div></div></td>' +\n'<td width=\"33%\" style=\"padding:0 4px;text-align:center;\"><div style=\"background:#f8f9fa;padding:18px 8px;border-radius:8px;border-top:3px solid #1a237e;\">' +\n'<div style=\"font-size:28px;font-weight:800;color:#1a237e;\">' + avgPerClient + '</div>' +\n'<div style=\"font-size:9px;color:#888;margin-top:4px;text-transform:uppercase;\">Media por Cliente</div></div></td>' +\n'</tr></table>' +\n'<h3 style=\"color:#1a237e;margin-top:24px;\">Desempenho por cliente</h3>' +\n'<table style=\"width:100%;border-collapse:collapse;font-size:14px;\">' +\n'<thead><tr style=\"background:#f8f9fa;\"><th style=\"padding:10px 8px;text-align:left;border-bottom:2px solid #1a237e;\">Cliente</th>' +\n'<th style=\"padding:10px 8px;text-align:center;border-bottom:2px solid #1a237e;\">Leads</th>' +\n'<th style=\"padding:10px 8px;text-align:center;border-bottom:2px solid #1a237e;\">Total Contatos</th></tr></thead>' +\n'<tbody>' + clientRows + '</tbody></table>' +\n(topClient ? '<div style=\"background:#f0fdf4;padding:14px;margin-top:20px;border-left:4px solid #16a34a;border-radius:4px;\"><b>Melhor desempenho:</b> ' + topClient.name + ' com ' + topClient.formLeads30d + ' leads</div>' : '') +\n(bottomClient && bottomClient !== topClient ? '<div style=\"background:#fef2f2;padding:14px;margin-top:8px;border-left:4px solid #dc2626;border-radius:4px;\"><b>Precisa atencao:</b> ' + bottomClient.name + ' com apenas ' + bottomClient.formLeads30d + ' leads</div>' : '') +\n'</div>' +\n'<div style=\"background:#f8f9fa;padding:20px;border-radius:0 0 12px 12px;text-align:center;border:1px solid #e5e5e5;border-top:none;\">' +\n'<p style=\"margin:0;font-size:12px;color:#888;\">Relatorio gerado automaticamente pela Galaxy IT</p>' +\n'</div></body></html>';\n\nreturn [{ json: {\n  monthName,\n  totalClients, totalLeads, totalContacts, avgPerClient,\n  topClient, bottomClient,\n  html,\n  subject: 'Resumo Interno Galaxy IT - ' + monthName + ' (' + totalLeads + ' leads em ' + totalClients + ' clientes)'\n}}];"
      },
      "id": "summary",
      "name": "Montar Resumo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 500]
    },
    {
      "parameters": {
        "fromEmail": "galaxyinfomkt@gmail.com",
        "toEmail": "galaxyinfomkt@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "email",
      "name": "Enviar Email Interno",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1360, 500],
      "credentials": {
        "smtp": { "id": "2ei5OJfzS1oCZZ8e", "name": "Gmail SMTP - Galaxy" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', summary: { totalLeads: $('Montar Resumo').item.json.totalLeads, totalClients: $('Montar Resumo').item.json.totalClients } }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 500]
    }
  ],
  "connections": {
    "Dia 1 as 10AM": { "main": [[{ "node": "Lista de Clientes", "type": "main", "index": 0 }]] },
    "Trigger Manual": { "main": [[{ "node": "Lista de Clientes", "type": "main", "index": 0 }]] },
    "Lista de Clientes": { "main": [[{ "node": "GHL - Contatos", "type": "main", "index": 0 }]] },
    "GHL - Contatos": { "main": [[{ "node": "Processar por Cliente", "type": "main", "index": 0 }]] },
    "Processar por Cliente": { "main": [[{ "node": "Montar Resumo", "type": "main", "index": 0 }]] },
    "Montar Resumo": { "main": [[{ "node": "Enviar Email Interno", "type": "main", "index": 0 }]] },
    "Enviar Email Interno": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
